@charset "UTF-8";

:root {

}

* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
}

header {
    background-color: rgb(255, 88, 88);
    height: 100px;
}

nav {
    background-color: rgb(248, 122, 122);
    padding: 10px;
}

nav > a:hover {
    border: 1px 1px black;
    font-size: 30px;
    padding: 10px;
}